@tailwind base;
@tailwind components;
@tailwind utilities;

/* 基本重置 */
html,
body {
  margin: 0;
  padding: 0;
}

/* 平滑字體 */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}